:root {
    --grey-01: rgba(115, 123, 139, 1);
    --body-2-roboto-reguler-font-family: "Roboto-Regular", Helvetica;
    --body-2-roboto-reguler-font-weight: 400;
    --body-2-roboto-reguler-font-size: 14px;
    --body-2-roboto-reguler-letter-spacing: 0px;
    --body-2-roboto-reguler-line-height: normal;
    --body-2-roboto-reguler-font-style: normal;
  }
  